[submodule "themes/LoveIt"]
	path = themes/LoveIt
	url = https://github.com/markallisongit/LoveIt.git
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
